@import url('melodrama.css');
@import url('clash-display.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'ClashDisplay-Variable';
  color: #fff;
  line-height: 1.6;
  font-size: 30px;
  font-weight: 450;
  background-color: black;
}

ul {
  list-style: none;
}

a {
  /* font-family: 'Oswald', sans-serif; */
  text-decoration: none;
  color: white;

}

h1, h2 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  margin: 10px 0; 
}

img {
  width: 100%
}

header {
  z-index: 9999;
  position: fixed;
  width: 100%;
}

.logo {
  width: 450px;
  padding: 15px;
}

/* Nav Bar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 80px;
  padding: 0 30px;
}

.navbar a {
  padding: 10px 20px;
  margin: 0 5px;

}

.hua {
  display: inline-block;
  position: relative;
}

.hua:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hua:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar ul {
  display: flex;
  align-items: center;
}

/* header */

.hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .2)),url(/media/band.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.hero .content {
  padding: 20px;
  background-color: #0009;
  border-radius: 20px;
  margin: 20px;
}

.hero .content h1 {
  font-family: 'ClashDisplay-Variable';
  font-size: 80px;
  font-weight: 600;
  
}

.hero .content p {
  font-family: 'ClashDisplay-Variable';
  max-width: 600px;
  margin: 20px 0 30px;
}

/* Icons */
.flex-items {
  padding: 20px;
}


.icons h3 {
  font-weight: 600;
  font-family: 'Melodrama-Variable'
}

.flex-items img {

  padding: 0 10px;
  border-radius: 20px;
}

.flex-items p {
  font-size: 20px;
}

.about {
  font-weight: 600;
  text-align: center;
  font-size: 70px;
  padding: 30px;
}

.gigs {
padding: 30px;
}

.gigs h1 {
  font-weight: 600;
  text-align: center;
  font-size: 70px;
}

.gigs li {
  margin: 20px;
  border-bottom: 2px solid white;
  padding: 10px 0;
}

.gig-list {
  display: flex;
  justify-content: space-between;
}

.location-details {
  padding: 0 30px;
}

.location-details p {
  margin: 0;

}

.location-div {
  display: flex;
  align-items: center;
}

.info-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width:1080px) {
  .navbar {
    flex-direction: column;
    height: 130px;
  }

  .flex-items {
    flex-direction: column;
  }
  }

@media(max-width:660px) {
  body {
    font-size: 20px;
  }

  .hero .content h1 {
    font-size: 25px;
  }

  .navbar {
    margin: 0;
  }

  .logo {
    width: 350px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 5px 10px;
  
  }

  

}
