@import url('melodrama.css');
@import url('clash-display.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'ClashDisplay-Variable';
  color: #fff;
  line-height: 1.6;
  font-size: 30px;
  font-weight: 450;
  background-color: black;
}

ul {
  list-style: none;
}

a {
  /* font-family: 'Oswald', sans-serif; */
  text-decoration: none;
  color: white;

}

h1, h2 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  margin: 10px 0; 
}

img {
  width: 100%
}

header {
  z-index: 97;
  position: fixed;
  width: 100%;
}

.logo {
  width: 450px;
  padding: 15px;
  cursor: pointer;
}

/* Nav Bar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 90px;
  padding: 24px 30px;
}

.navbar a {
  padding: 10px 20px;
  margin: 0 5px;

}

.mobile-nav {
  display: none;
}

.hamburger {
  display: none;
}

.hua {
  display: inline-block;
  position: relative;
}

.hua:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hua:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar ul {
  display: flex;
  align-items: center;
}

/* header */

.hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .2)),url(/media/band.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}


.hero .content {
  padding: 20px;
  background-color: #0009;
  border-radius: 20px;
  margin: 20px;
}

.hero .content h1 {
  font-family: 'ClashDisplay-Variable';
  font-size: 80px;
  font-weight: 600;
  
}

.hero .content p {
  font-family: 'ClashDisplay-Variable';
  max-width: 600px;
  margin: 20px 0 30px;
}

.bookings {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#top-icons {
  padding: 10px;

}

/* Icons */
.flex-items {
  padding: 20px;
}


.icons h3 {
  font-weight: 600;
  font-family: 'Melodrama-Variable'
}

.about-container {
  display: flex;
  flex-direction: column;
}

.about h1{
  font-weight: 600;
  text-align: center;
  font-size: 70px;
}

.media h1{
  font-weight: 600;
  text-align: center;
  font-size: 70px;
}

.media h4 {
  text-align: center;
  font-weight: 500;
}

.sponsors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sponsors img {
  width: 50px;
  object-fit: cover;
}

.band-member {
  padding: 10px;
}

.band-member p {
  text-align: left;
}

.about-container {
  display: flex;
  flex-direction: row;
}
.video-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profile-img {
  width: 50%;
  object-fit: cover;
}

.sponsors img {
width: 100px;
margin: 20px 30px;
}

.member-info {
  padding: 30px;
}

.member-info p {
  font-size: 22px;
  margin: 10px 0;
  color: #b1b1ed;

}

.member-info h4 {
  font-weight: 550;
}

.gigs {
padding: 30px;
}

.gigs h1 {
  font-weight: 600;
  text-align: center;
  font-size: 70px;
}

.gigs li {
  margin: 20px;
  border-bottom: 2px solid white;
  padding: 10px 0;
}

.gig-list {
  display: flex;
  justify-content: space-between;
}

.location-details {
  padding: 0 30px;
}

.location-details p {
  margin: 0;

}

.location-div {
  display: flex;
  align-items: center;
}

.info-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  background-color: #4a4a9455;
}

.contact-content p {
  word-break: break-all;
}

.big-icon {
  margin: 0 50px 0 0;
  font-size: 100px;
}

.small-icons i {
  padding: 10px;
}

.contact h1 {
  font-weight: 600;
  text-align: center;
  font-size: 70px;
}

.sponsors-footer {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4a4a9455;
  border-radius: 20px 20px 0 0;
  margin: 0 30px;
  padding: 0 30px;
  height: 200px;
}

.doya {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  top: 10px;

}

.doya img {
  width: 100px;
}

.SNS-icons {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.SNS-icons i {
  margin-top: 20px;
  padding: 20px;
  font-size: 30px;
}


@media(max-width:1080px) {
  .navbar {
    flex-direction: column;
    height: 150px;
  }

  .logo {
    width: 300px;
  }

  .navbar a {
    padding: 2px 10px;
    margin: 5px 5px;
  }

  .hero .content h1 {
    font-size: 36px;
  }

  .hero .content p {
    font-size: 22px;
  }
  .about-container {
    flex-direction: column;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .profile-img {
    width: 100%;
  }
  }

@media(max-width:600px) {
  body {
    font-size: 24px;
  }

  .navbar {
    margin: 0;
    padding-left: 0;
    padding-right: 16px;
    height: 72px;
    flex-direction: row;
    align-items: flex-start;
  }

  .navbar nav {
    display: none;
  }

  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
  }

  .hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    cursor: pointer;
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
  }

  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-8px, -7px);
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background: rgba(0, 0, 0, .7);
    margin-top: 72px;
    transition: 0.4s;
  }

  .mobile-nav.is-active {
    left: 0;
  }

  .mobile-nav a {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    margin-left: 32px;
    margin-right: 32px;
    padding: 12px 16px;
    background-color: #4a4a94;
  }

  .mobile-nav a:hover {
    background-color: #4a4a9455;
  }

  .logo {
    width: 280px;
  }

  .hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .2)), url(/media/bnw-alley-2.JPG) no-repeat top center/cover;
    background-size: contain;
  }

  .hero .content h1 {
    font-size: 32px;
  }

  .hero .content p {
    font-size: 18px;
  }

  .btn {
    padding: 6px 12px;
  }

  .big-icon {
    margin: 10px;
    font-size: 30px;
  }

  .doya {
    font-size: 15px;
  }

  .doya img {
    width: 50px;
  }

  .SNS-icons {
    height: 60px;
    align-items: flex-start;
  }

  .SNS-icons i {
    padding: 2px;
    margin: 2px;
    font-size: 15px;
  }
}

@media(max-height:720px) {
  body {
    font-size: 24px;
  }

  .hero .content h1 {
    font-size: 28px;
  }
}
