@import url('melodrama.css');
@import url('clash-display.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Monserrat', sans-serif;
  color: #fff;
  line-height: 1.6;
  background: black;
}

ul {
  list-style: none;
}

a {
  font-family: 'Oswald', sans-serif;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3em;

}

h1, h2 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  margin: 10px 0; 
}

img {
  width: 100%
}

.logo {
  width: 450px;
}

/* Nav Bar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  z-index: 9999;
}

.navbar a {
  color: aliceblue;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  color: aliceblue;
}

.navbar ul {
  display: flex;
  align-items: center;
}

@media(max-width:1000px) {
.navbar {
  flex-direction: column;
  height: 130px;
}

.navbar ul {
  padding-bottom: 20px;
}
.logo {
  padding: 15px;
}
}

/* header */

.hero {
  background: url(/media/band.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: aliceblue;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  height: 100%;
}

.hero .content h1 {
  font-family: 'ClashDisplay-Variable';
  font-size: 80px;
  font-weight: 500;
}

.hero .content p {
  font-family: 'ClashDisplay-Variable';
  font-weight: 300;
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

.hero * {
  z-index: 0;
}

/* Icons */
.icons {
  padding: 30px;
}


.icons h3 {
  font-weight: 600;
  font-family: 'Melodrama-Variable'
}

.icons img {
  padding: 20px;
}


