
/* button */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4a4a94;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #282890;
}
