* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

nav, ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* header */

header {
  background-color: rgba(0, 0, 0, .8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 35px;
}

.logo {
  max-width: 600px;
}

header h1 {
  font-size: 2em;
  color: aliceblue;
}

header a {
  font-size: 1.4em;
  color: aliceblue;
  text-transform: uppercase;
}

header nav ul {
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;

}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li:last-child {
  margin-right: 0;
}

.nav_links a {
transition: all 0.3s ease 0s;
}

.nav_links a:hover {
  color: plum;
  }



@media(max-width:1080px) {
  header {
    flex-direction: column;
  
  }
  .logo {
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
  }
  header nav ul li {
    margin: 0 7px;
  }
} 

.round-btn {
  font-size: 20px;
  color: aliceblue;
padding: 9px 25px;
background-color: purple;
border: none;
border-radius: 20px;
cursor: pointer;
transition: all 0.3s ease 0s;
}

.round-btn:hover {
  background-color: plum;
  color: black;
}

/* banner area */
section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media(max-width:1000px) {
  section {
    padding: 100px 50px;
  }
}

@media(max-width:600px) {
  section {
    padding: 125px 30px;
  }
}

.banner-area {
  background-image: url(media/band.jpg  );
  background-position: center;
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  color: aliceblue;
  text-align: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.text {
  padding: 25px;
  background-color: rgba(22, 0, 0, 0.9);
  border-radius: 10px;
  margin-left: 1%;
  margin-top: 32%;
}

.text h1 {
  font-size: 4em;
  padding-bottom: 10px;
}

.text h2 {
padding-bottom: 20px;
}